<html layout:decorate="~{usr/common/layout}">

<head>
  <title th:text="게시판"></title>
</head>

<body>

<div class="w-full 2lg:w-3/4 mx-auto" layout:fragment="content">
  <div class="w-full lg:w-3/4 2xl:w-4/5  mx-auto border-b-2 border-blue-800 p-3">
  <div class="w-full 2xl:w-3/4 mx-auto">
    <span class="inline-block text-2xl font-bold mt-6">수강 바구니</span>
  </div>
    <div class="check-box flex w-full 2xl:w-3/4 mx-auto relative">
    <input type="checkbox" checked="checked" class="checkbox checkbox-xs mt-7 2xl:hidden inline" />
      <input type="checkbox" checked="checked" class="checkbox checkbox-sm mt-6 2xl:inline hidden" />
     <span class=" text-sm mt-3 p-3 ">전체 선택</span>
    <div class="w-2/3 ml-auto flex justify-end">
      <button class="btn btn-sm btn-ghost mt-2">선택 삭제</button>
      <button class="btn btn-sm ml-2 mt-2">전체 삭제</button>
    </div>
  </div>
  <div class="basket-list w-full 2xl:w-3/4 mx-auto border-t border-gray-300 flex">
    <div class="check flex items-center">
      <input type="checkbox" checked="checked" class="checkbox checkbox-sm" />
    </div>
    <div class="picture-box w-48 h-28 ml-3 mt-2 bg-gray-200 hidden lg:flex"></div>
    <div class="list-box h-32 w-[90%] ml-6">
      <a class="inline-block text-md lg:text-lg font-bold hover:underline p-3 mt-2 lg:mt-0" href="#">스프링 부트 - 핵심 원리와 활용</a>
      <h1 class="text-sm px-3">강사명</h1>
      <h2 class="text-md text-gray-500 px-3">수강기간: 무제한</h2>
    </div>
    <div class="price-box w-60 h-32 flex items-center justify-center">
      <span class="price font-bold mr-4">29,800원</span>
      <button class="btn btn-circle btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      </button>
    </div>
  </div>
 </div>
  <div class="w-3/4 mx-auto flex justify-end">
    <i class="fa-regular fa-credit-card mt-5"></i>
     <span class="text-xl p-4">총 결제금액</span>
     <span class="text-xl ml-3 p-4 font-bold ">29,800원</span>
</div>
<div class="w-4/5 mt-6 mx-auto flex justify-center">
  <div onclick="my_modal_3.showModal()" class="w-[33%] text-center border border-blue-800 bg-blue-800 p-2 lg:ml-4 rounded-md hover:bg-blue-900">
    <a class=" text-white" href="#"><button>결제하기</button></a>
  </div>
</div>
  <dialog id="my_modal_3" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
     <div class=" w-3/4 mx-auto mt-3">
     <div class="flex">
       <i class="fa-solid fa-check p-2"></i></i><h3 class="font-bold text-xl">주문 상세 내용</h3>
     </div>
      <div class="flex p-2 mt-4">
        <p class="text-md font-bold">주문일시 :</p>
        <p class="text-sm ml-2">2023/11/21</p>
      </div>
      <div class="flex p-2">
        <p class="text-md font-bold">주문자명 :</p>
        <p class="text-sm ml-2">user1</p>
      </div>
      <div class="p-2 mt-4 bg-gray-100">
        <p class="text-md font-bold">자바 기초 1</p>
        <p class="text-sm">강사명</p>
      </div>
        <p class="text-lg font-bold p-2 text-blue-800 mt-3">총 결제가격 : 12,000원</p>
        <div class="w-full text-center border border-blue-800 bg-blue-800 p-2 mb-3  mt-6 rounded-md hover:bg-blue-900">
          <a class=" text-white " href="#"><button>카드결제</button></a>
        </div>
     </div>
    </div>
  </dialog>
</div>

</body>
</html>