<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="게시판"></title>
</head>

<body>

<div class="lg:flex w-full lg:w-3/4 mt-2 lg:mt-10 mx-auto" layout:fragment="content">
  <div class="menu-box w-full lg:w-52 flex lg:block">
      <div class="nick-box ml-2 lg:border-b border-gray-300 ">
          <P class="text-lg inline lg:block">크리에이터</P>
          <p class="py-2 inline lg:block">닉네임님</p>
      </div>
      <!--아래는 모바일 드롭다운 메뉴 입니다.-->
      <div class="dropdown dropdown-bottom dropdown-end ml-auto px-2 lg:invisible">
          <label tabindex="0" class="btn btn-sm "><i class="fa-solid fa-angle-left"></i></label>
          <ul tabindex="0" class="inline-block lg:hidden dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a href="#">내가 올린 강의</a></li>
              <li><a href="#" >STUDIO</a></li>
              <li><a href="#">정산내역</a></li>
              <li><a href="#">프로필</a></li>
              <li><a href="#">크리에이터 정보</a></li>
          </ul>
      </div>
      <!--아래는 데스크탑 메뉴 입니다.-->
      <div class="activity -mt-6 hidden lg:block">
          <button  onclick="toggleComment(this)" class="p-2">내 활동<i class="fa-solid fa-chevron-down p-2"></i></button>
          <div>
            <div onclick="changeColor(this)" class="rounded-md p-2 mx-2 hover:bg-gray-200 hover:rounded-md  cursor-pointer ">
              <a  class="" href="#">내가 올린 강의</a>
            </div>
            <div onclick="changeColor(this)" class="p-2 mx-2 hover:bg-gray-200 hover:rounded-md rounded-md cursor-pointer">
              <a href="#">STUDIO</a>
            </div>
            <div onclick="changeColor(this)" class="rounded-md p-2 mx-2 hover:bg-gray-200 hover:rounded-md non-click cursor-pointer">
              <a href="#">정산내역</a>
            </div>

          </div>
      </div>
      <div class="mypage p-2 hidden lg:block">
          <button  onclick="toggleComment(this)">MY PAGE<i class="fa-solid fa-chevron-down p-2"></i></button>
          <div>
              <div onclick="changeColor(this)" class="p-2 hover:bg-gray-200 hover:rounded-md cursor-pointer rounded-md">
                  <a href="#">프로필</a>
              </div>
              <div onclick="changeColor(this)" class="p-2 hover:bg-gray-200 hover:rounded-md cursor-pointer rounded-md">
                  <a href="#">크리에이터 정보</a>
              </div>
          </div>
      </div>
  </div>
  <!--아래는 강의내역이 나오는 메인 입니다.-->
  <div class="main-box  w-full lg:ml-10 mt-6 lg:mt-1">
      <span class="text-lg font-bold inline-block lg:p-2 ml-2">내가 올린 강의</span>
      <span>
          <button class="lg:p-2 hover:font-bold"><a href="#">+ 강의 업로드 하기</a></button>
      </span>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3">
      <div class="center h-full mt-2">
          <div class="flex flex-col w-full lg:ml-5 border border-gray-300 h-full">
              <div class="bg-blue-200 w-[95%] h-48 my-2 mx-auto"></div>
          <div class="w-full p-2 flex-grow">
                  <a class="flex-grow text-lg font-bold" href="#">실리콘밸리 엔지니어와 함께하는 아마존 웹서비스(Core)편</a>
              <div class="w-full mt-4">
                  <p>등록일 2023/10/10</p>
                  <p>수강중인 학생 수</p>
                  <p>#태그</p>
              </div>
          </div>
          <div class="flex h-10 items-end mb-2">
              <div class=" w-[47%] border border-gray-300 bg-gray-200 mb-2 lg:mb-0 p-2 mx-auto flex justify-center rounded-md hover:bg-gray-300 h-10">
                 <button class=""><a class="hover:font-bold" href="#">강의 정보 수정</a></button>
              </div>
              <div class="w-[47%] border border-yellow-300 bg-yellow-200 mb-2 lg:mb-0 mx-auto flex justify-center rounded-md hover:bg-yellow-300 h-10">
                  <button class=""><a class="hover:font-bold" href="#">STUDIO</a></button>
              </div>
          </div>
      </div>
    </div>
        <div class="center h-full mt-2">
            <div class="flex flex-col w-full lg:ml-5 border border-gray-300 h-full">
                <div class="bg-blue-200 w-[95%] h-48 my-2 mx-auto"></div>
                <div class="w-full p-2 flex-grow">
                    <a class="flex-grow text-lg font-bold" href="#">자바 알고리즘 문제 풀이 (코딩 테스트)</a>
                    <div class="w-full mt-4">
                        <p>등록일 2023/10/10</p>
                        <p>수강중인 학생 수</p>
                        <p>태그 #태그 #태그 #태그 #태그 #태그 #태그 #태그 #태그 #태그 #태그</p>
                    </div>
                </div>
                <div class="flex h-10 items-end mb-2">
                    <div class=" w-[47%] border border-gray-300 bg-gray-200 mb-2 lg:mb-0 p-2 mx-auto flex justify-center rounded-md hover:bg-gray-300 h-10">
                        <button class=""><a class="hover:font-bold" href="#">강의 정보 수정</a></button>
                    </div>
                    <div class="w-[47%] border border-yellow-300 bg-yellow-200 mb-2 lg:mb-0 mx-auto flex justify-center rounded-md hover:bg-yellow-300 h-10">
                        <button class=""><a class="hover:font-bold" href="#">STUDIO</a></button>
                    </div>
                </div>
            </div>
       </div>
  </div>
      <div class="w-1/2 mx-auto flex justify-center mt-12">
          <div class="join ">
              <button class="join-item btn btn-sm">1</button>
              <button class="join-item btn btn-sm btn-active">2</button>
              <button class="join-item btn btn-sm">3</button>
              <button class="join-item btn btn-sm">4</button>
          </div>
      </div>
    <script>
        <!--메뉴 접기-->
        function toggleComment(button) {
            const content = button.nextElementSibling;

            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        }
        const nonClick = document.querySelectorAll(".non-click");

        function handleClick(event) {

            nonClick.forEach((e) => {
                e.classList.remove("click");
            });

            event.target.classList.add("click");
        }

        nonClick.forEach((e) => {
            e.addEventListener("click", handleClick);
        });

        <!--메뉴 클릭 시 색상변경-->
        let prevSelected = null;

        function changeColor(element) {
            if (prevSelected !== null) {
                prevSelected.classList.remove('bg-gray-200');
                prevSelected.classList.add('bg-wihte');
            }

            if (prevSelected !== element) {
                element.classList.remove('bg-wihte');
                element.classList.add('bg-gray-200');
                prevSelected = element;
            } else {
                prevSelected = null;
            }
        }

    </script>
</div>

</body>
</html>