<html layout:decorate="~{usr/common/layout}">
<head>
    <title th:text="게시판"></title>
</head>

<body>
<div class="wrap -mt-4" layout:fragment="content">
    <div class="banner">
        <img class="w-full xl:w-3/4 mx-auto object-contain hidden md:flex" src="" alt="">
        <img class="w-150 mx-auto object-contain flex md:hidden" src="" alt="">
    </div>

    <div class="w-full sm:w-3/4 mx-auto mt-1 sm:mt-12">
        <div style='box-shadow:2px 3px 5px 0px #d9d9d9' class="main h-full border-gray-200 border-2 rounded-xl">
            <div class="w-4/5 mx-auto">
                <!-- 게시판 상단 섹션 -->
                <div class="top-box mt-8">
                    <div class="cate flex">
                        <div class="cate "><a href="#" class="mt-3 bg-blue-200 px-2 p-1 sm:text-sm text-xs whitespace-nowrap rounded-lg inline-block">#자바</a></div>
                        <div class="cate "><a href="#" class="mt-3 bg-pink-200 px-2 p-1 sm:text-sm text-xs ml-2 whitespace-nowrap rounded-lg inline-block">#파이썬</a></div>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="text-md sm:text-xl font-semibold whitespace-nowrap">자유게시판 제목입니다.</a>
                    </div>
                    <div class="mt-2 w-full sm:w-2/5">
                        <span class="text-sm font-semibold text-gray-400">조회수 3</span>
                        <span class="text-sm ml-4 whitespace-nowrap">작성자명</span>
                        <span class="text-sm text-gray-500 px-2 inline-block whitespace-nowrap">2시간전</span>
                    </div>
                </div>

                <!-- 게시판 내용 섹션 -->
                <div class="bottom-box w-full mt-4 mb-8 h-full border-b border-t border-gray-200">
                    <div class="mt-8"><a href="#" class="text-sm whitespace-nowrap">자유게시판 내용이 들어갈 자리입니다.</a></div>

                    <div class="modify-box flex justify-end mr-1 sm:mr-12 mb-2 relative">
                        <a class="mr-2 text-xs sm:text-sm" href="#">수정</a>
                        <a class="ml-2 text-xs sm:text-sm" href="#">삭제</a>
                    </div>
                </div>

                <!-- 댓글 섹션 -->
                <div class="comment-box">
                    <span class="text-md sm:text-lg font-semibold">댓글</span>
                    <span class="text-md sm:text-lg font-semibold text-blue-600">5</span>
                    <span class="text-md sm:text-lg font-semibold">개</span>
                    <!-- 댓글 작성 폼 -->
                    <form class="comment-form flex mt-6">
                        <textarea placeholder="댓글을 입력해주세요." cols="50" class="placeholder:text-sm  textarea textarea-bordered textarea-lg w-full"></textarea>
                    </form>
                    <div class="w-full flex justify-end py-2">
                        <!-- 별점 -->
                        <div class="rating mr-4 mt-1">
                            <input type="radio" name="rating-1" class="mask mask-star" />
                            <input type="radio" name="rating-1" class="mask mask-star" checked />
                            <input type="radio" name="rating-1" class="mask mask-star" />
                            <input type="radio" name="rating-1" class="mask mask-star" />
                            <input type="radio" name="rating-1" class="mask mask-star" />
                        </div>
                        <button class="btn btn-sm">댓글 등록</button>
                    </div>
                    <!-- 댓글 목록 -->
                    <div class="comment text-sm flex sm:border-b border-t border-gray-200 p-2 mt-4 mb-4">
                            <span>
                                <p>댓글 작성 닉네임</p>
                                <p class="text-gray-500 text-center hidden sm:inline">1시간전</p>
                            </span>
                        <span class="ml-16 mt-2 hidden sm:inline">댓글 내용입니다.</span>
                        <!-- 댓글 수정 삭제 버튼 -->
                        <div class="ml-auto hidden sm:flex mt-1">
                            <button class="btn btn-sm ml-auto">수정</button>
                            <button class="btn btn-error btn-sm ml-3">삭제</button>
                        </div>
                    </div>
                    <!-- 모바일 환경 댓글 내용 및 버튼 -->
                    <span class="ml-2 mt-1 sm:hidden">댓글 내용입니다.</span>
                    <div class="ml-auto flex sm:hidden border-b border-gray-200 py-2">
                        <button class="btn btn-sm ml-auto">수정</button>
                        <button class="btn btn-error btn-sm ml-3">삭제</button>
                    </div>
                </div>
                <button class="btn absolute right-10 top-32 md:right-36 md:top-76 xl:right-56 xl:top-96">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
