<html layout:decorate="~{usr/common/layout}">

<head>
  <title th:text="게시판"></title>
</head>

<body>

<div class="flex-1 flex justify-center" layout:fragment="content">
  <div class="wrap w-full lg:w-3/4 ">
    <div class="top-box block lg:flex w-full lg:h-96">
      <div class="left-box w-full lg:w-3/5 lg:h-96 h-56 bg-blue-200 -mt-4 lg:mt-0"></div>
      <div style='box-shadow:2px 3px 5px 0px #d9d9d9' class="border-gray-200 bg-white rounded-xl right-box w-full lg:w-2/5 lg:ml-12 h-96 border ">
        <a href="#" class="bg-yellow-200 px-2 p-1 ml-4 text-sm whitespace-nowrap rounded-lg">NEW</a><span class="text-xl ml-4 font-semibold mt-14 inline-block">강의 제목</span>
        <a href="#" class="block text-md py-2 ml-20">강사명</a>
        <div class="mt-4"><span class="text-gray-500 ml-20">수강기간</span><span class="ml-2">180일</span></div>
        <div><span class="text-gray-500 ml-20">강의시간</span><span class="ml-2">총 10 개 / 6시간 48분</span></div>
        <div><span class="text-gray-500 ml-20">교재</span><span class="ml-2">파일제공</span></div>
        <div><span class="text-gray-500 ml-20">난이도</span><span class="ml-2">중급</span></div>
        <button class="bg-blue-100 w-[95%] mt-6 ml-3 p-3 rounded-lg font-bold hover:bg-blue-200">구매하기</button>
        <button class="btn w-[95%] mt-3 ml-3 ">장바구니</button>
      </div>
    </div>
    <div class="bottom-box block lg:flex ">
      <div class=" w-full lg:w-3/5 left-box ">
        <span class="text-xl font-bold p-2 mt-4 border-b block border-gray-200">강의소개</span>
      </div>
      <div class="right-box w-full lg:w-2/5 lg:ml-12">
        <span class="inline-block text-xl font-bold p-2 mt-4">커리큘럼</span><span class="text-gray-500 text-center">총 10 개 / 6시간 48분의 수업</span>
        <div id="tab1" class="cont block w-full h-24 border-t border-gray-200" >
          <div class="w-full mt-3 ">
            <button id="more_btn" onclick="toggleComment(this)" type="button" class="flex p-4 border-b border-gray-300 w-full">
              <span class="ml-4">Part 1</span>
              <span class="ml-auto text-gray-500 mr-2 text-sm">5강 150분 15초</span>
              <i class="fa-solid fa-angle-down mt-1"></i>
            </button>
            <div class="more_tab block">
              <div class="more-header cursor-pointer bg-gray-100">
                <div class="fix">
                  <a href="#" class="inline-block px-6 p-3 border-b border-gray-300 w-full hover:bg-gray-200">강의 제목 1
                    <span class="flex justify-end -mt-6 text-gray-500 text-sm">50분</span>
                  </a>
                  <a href="#" class="inline-block px-6 p-3 border-b border-gray-300 w-full hover:bg-gray-200">강의 제목 2
                    <span class="flex justify-end -mt-6 text-gray-500 text-sm">50분</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    <!--아래는 강의목록 토글입니다.-->
    function toggleComment(button) {
      const content = button.nextElementSibling;

      if (content.style.display === 'block') {
        content.style.display = 'none'; // 열려있을 때 닫습니다.
      } else {
        content.style.display = 'block'; // 닫혀있을 때 엽니다.
      }
    }
  </script>
</div>

</body>
</html>