<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="게시판"></title>
</head>

<body>

<div class="flex-1 mt-2 flex justify-center" layout:fragment="content">
  <div class="w-full lg:w-3/4 ">

    <!--강좌 리스트-->
    <div class="flex">
      <div class=" text-xl w-full my-auto"> 전체 강의 </div>
      <div class="flex w-full sm:w-2/3 py-2 justify-end">

      <i class="fa-solid fa-magnifying-glass mt-2 mr-2"></i>
      <form action="#" class="flex">
          <div class="search whitespace-nowrap">
              <input class="border-b-2 border-gray-400 bg-gray-100 sm:bg-white w-3/5 lg:w-3/4" type="text" placeholder="전체 강의 검색">
              <button class="btn btn-sm">검색</button>
          </div>
      </form>
    </div>
    </div>
    <div class="mx-auto px-[10px]">
        <ul class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-4 gap-[20px]">
            <li class="group">
                <a href="#">
                    <img class="aspect-[376/221] object-cover w-full" src="https://ifh.cc/g/w5pnHt.webp" alt="">
                </a>

                <a href="#" class="flex flex-col gap-1 mt-3">
                    <div class="text-xs font-bold">
                        풀스택
                    </div>
                    <div class="text-gray-500">
                        한번에 끝내는 스프링부트
                    </div>
                    <div class="flex gap-2 text-xs">
                        <div class="text-[#fd3049]">⭐⭐⭐⭐⭐</div>
                    </div>
                    <div class="flex gap-2 text-ml">
                        <div class="line-through">120,000 원</div>
                        <div class="font-semibold">38,000 원</div>
                        <button class="ml-20 p-2 bg-blue-100 px-3 hover:bg-blue-200 rounded-full hidden sm:inline"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                    <div class="block sm:hidden">
                      <button class="btn btn-sm w-full">장바구니 담기</button>
                    </div>
                </a>
            </li>
            <li class="group">
                <a href="#">
                    <img class="aspect-[376/221] object-cover w-full" src="https://ifh.cc/g/w5pnHt.webp" alt="">
                </a>

                <a href="#" class="flex flex-col gap-1 mt-3">
                    <div class="text-xs font-bold">
                        풀스택
                    </div>
                    <div class="text-gray-500">
                        한번에 끝내는 스프링부트
                    </div>
                    <div class="flex gap-2 text-xs">
                        <div class="text-[#fd3049]">⭐⭐⭐⭐⭐</div>
                    </div>
                    <div class="flex gap-2 text-ml">
                        <div class="line-through">120,000 원</div>
                        <div class="font-semibold">38,000 원</div>
                        <button class="ml-20 p-2 bg-blue-100 px-3 hover:bg-blue-200 rounded-full hidden sm:inline"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                    <div class="block sm:hidden">
                        <button class="btn btn-sm w-full">장바구니 담기</button>
                    </div>
                </a>
            </li>
            <li class="group">
                <a href="#">
                    <img class="aspect-[376/221] object-cover w-full" src="https://ifh.cc/g/w5pnHt.webp" alt="">
                </a>

                <a href="#" class="flex flex-col gap-1 mt-3">
                    <div class="text-xs font-bold">
                        풀스택
                    </div>
                    <div class="text-gray-500">
                        한번에 끝내는 스프링부트
                    </div>
                    <div class="flex gap-2 text-xs">
                        <div class="text-[#fd3049]">⭐⭐⭐⭐⭐</div>
                    </div>
                    <div class="flex gap-2 text-ml">
                        <div class="line-through">120,000 원</div>
                        <div class="font-semibold">38,000 원</div>
                        <button class="ml-20 p-2 bg-blue-100 px-3 hover:bg-blue-200 rounded-full hidden sm:inline"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                    <div class="block sm:hidden">
                        <button class="btn btn-sm w-full">장바구니 담기</button>
                    </div>
                </a>
            </li>
            <li class="group">
                <a href="#">
                    <img class="aspect-[376/221] object-cover w-full" src="https://ifh.cc/g/w5pnHt.webp" alt="">
                </a>

                <a href="#" class="flex flex-col gap-1 mt-3">
                    <div class="text-xs font-bold">
                        풀스택
                    </div>
                    <div class="text-gray-500">
                        한번에 끝내는 스프링부트
                    </div>
                    <div class="flex gap-2 text-xs">
                        <div class="text-[#fd3049]">⭐⭐⭐⭐⭐</div>
                    </div>
                    <div class="flex gap-2 text-ml">
                        <div class="line-through">120,000 원</div>
                        <div class="font-semibold">38,000 원</div>
                        <button class="ml-20 p-2 bg-blue-100 px-3 hover:bg-blue-200 rounded-full hidden sm:inline"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                    <div class="block sm:hidden">
                        <button class="btn btn-sm w-full">장바구니 담기</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
      <div class="w-1/2 mx-auto flex justify-center mt-12">
          <div class="join ">
              <button class="join-item btn btn-sm">1</button>
              <button class="join-item btn btn-sm btn-active">2</button>
              <button class="join-item btn btn-sm">3</button>
              <button class="join-item btn btn-sm">4</button>
          </div>
      </div>
  </div>

</div>

</body>
</html>