<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="게시판"></title>
</head>

<body>

<div class="flex-1 flex justify-center" layout:fragment="content">
  <div class="w-full -mt-4">
   <img class="w-full xl:w-3/4 mx-auto object-contain hidden md:flex" src="" alt="">
   <img class="w-150 mx-auto object-contain flex md:hidden" src="" alt="">
   <div class="main w-full lg:w-2/3 flex mx-auto bg-gray-100 sm:bg-white mb-4">
<!--   <div class="title lg:text-xl text-lg mx-auto w-3/5 sm:hidden mx-2 mt-2 ml-4">자유 게시판</div>-->

   <div class="flex w-full sm:w-2/3 sm:py-12 py-2 ">
    <select name="choice" class="ml-12 rounded-xl p-2 bg-gray-100 hover:bg-gray-200">
           <option value="제목+내용">제목+내용</option>
           <option value="내용">내용</option>
           <option value="카테고리">카테고리</option>
           <option value="기타">기타</option>
    </select>
    <i class="fa-solid fa-magnifying-glass ml-4 mt-2 mr-2"></i>
    <form action="#" class="flex">
        <div class="search whitespace-nowrap">
            <input class="border-b-2 border-gray-400 bg-gray-100 sm:bg-white w-3/5 lg:w-3/4" type="text" value="">
            <button class="btn btn-sm">검색</button>
        </div>
    </form>
   </div>
   <div class="write-btn my-auto ml-14 w-1/4 justify-end hidden sm:flex lg:-mr-1 mr-3">
      <button class="btn btn-sm">글쓰기</button>
   </div>
  </div>
 <div style='box-shadow:2px 3px 5px 0px #d9d9d9' class="flex mx-auto card-container w-full sm:h-36 lg:w-2/3 h-32 rounded-3xl border-2 border-gray-200 w-full">
    <div  class="p-2 w-1/5 p-4 mt-2 sm:ml-6 sm:mt-8">
     <span class="text-xs sm:text-sm text-gray-500 mt-8 sm:mt-4 px-2 mt-2 inline-block whitespace-nowrap">2시간전</span>
    </div>
    <div class="center-box mt-6 sm:mt-6 w-1/2 ml-6 sm:-ml-1">
        <div><a href="#" class="text-md  sm:text-xl font-semibold whitespace-nowrap">자유게시판 제목입니다.</a></div>
        <div><a href="#" class="text-sm whitespace-nowrap">자유게시판 내용 예시입니다.</a></div>
        <div class="flex">
          <div class="cate "><a href="#" class="mt-3 bg-blue-200 px-2 p-1 sm:text-sm text-xs whitespace-nowrap rounded-lg inline-block">#자바</a></div>
          <div class="cate "><a href="#" class="mt-3 bg-pink-200 px-2 p-1 sm:text-sm text-xs ml-2 whitespace-nowrap rounded-lg inline-block">#파이썬</a></div>
        </div>
    </div>
     <div class="right-box mt-10 sm:mt-12 md:mt-14 lg:mt-12 xl:mt-14 ml-2 sm:ml-36 w-1/5">
         <span class="ext-sm ml-3 md:ml-6 font-semibold text-gray-400">조회수 3</span>
         <span class="text-sm ml-3 md:ml-6 whitespace-nowrap">작성자명</span>
     </div>
 </div>
 <div class="w-1/2 mx-auto flex justify-center mt-12">
   <div class="join ">
     <button class="join-item btn btn-sm">1</button>
     <button class="join-item btn btn-sm btn-active">2</button>
     <button class="join-item btn btn-sm">3</button>
     <button class="join-item btn btn-sm">4</button>
   </div>
 </div>
</div>
</div>

</body>
</html>