<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="게시판"></title>
</head>

<body>

<div class="w-full lg:w-3/4 mx-auto" layout:fragment="content">

  <div class="searching-box mt-4 lg:mt-8 border w-3/4 lg:w-1/2 h-10 lg:h-14 rounded-md border-gray-700 flex mx-auto">
      <select name="choice" class="ml-3 p-1 lg:p-2 outline-none mt-1">
          <option value="제목+내용">제목</option>
          <option value="내용">내용</option>
          <option value="카테고리">카테고리</option>
          <option value="기타">기타</option>
      </select>
      <form action="#" class="flex">
          <div class="search whitespace-nowrap">
              <input class="outline-none border-gray-400 sm:bg-white ml-3 mt-2 lg:mt-4 w-3/5 lg:w-3/4" type="text" value="">
          </div>
      </form>
      <i class="fa-solid fa-magnifying-glass my-auto ml-auto mr-5"></i>
 </div>
 <div class="flex mt-10">
   <span class="inline-block title ml-4 lg:ml-0 text-xl lg:text-2xl font-bold">시리즈</span>
   <span class="ml-3 mt-1 text-md lg:text-lg text-gray-500">Series</span>
 </div>
 <div>
     <span style="background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #D9D9D9 40%);" class="inline-block mt-2 ml-4 lg:ml-2"><a href="#"># 파이썬</a></span>
 </div>
 <div class="main-box w-full mt-4 lg:mt-12 ">
   <div class="article w-full h-44 flex border-b border-t border-gray-300">
     <div class="ficture-box hidden lg:block w-56 h-[88%] mt-2 bg-yellow-200"></div>
     <div class="left-box ml-2 lg:ml-4 w-2/3 md:mt-4 lg:mt-0 lg:w-1/2 2xl:w-2/3">
         <h1 class="p-3 font-bold text-lg hover:underline"><a href="#">제목이 들어갈 자리 입니다.</a></h1>
         <div class="hidden 2xl:block">
             <p class=" w-3/4 ml-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                 unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
         </div>
         <!--모바일 버전 글 내용 입니다.-->
         <div id="text-container" class="2xl:hidden">
            <p id="text-content" class=" w-full ml-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                 unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <button id="toggle-btn" class="text-gray-500 ml-3">더 보기</button>
         </div>
         <span style="background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FFD0AE 40%);" class="inline-block mt-2 ml-3 lg:ml-2"><a href="#"># 자바</a></span>
         <span style="background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #D9D9D9 40%);" class="inline-block mt-2 ml-3 lg:ml-2"><a href="#"># 파이썬</a></span>
         <span style="background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #BEEFFE 40%);" class="inline-block mt-2 ml-3 lg:ml-2"><a href="#"># C언어</a></span>
     </div>
     <div class="right-box flex items-center flex-col my-auto ml-auto mr-2">
         <span class="text-md">작성자</span>
         <span class="text-sm text-gray-500 ">2023 / 11 / 18</span>
     </div>
   </div>
 </div>
    <div class="w-1/2 mx-auto flex justify-center mt-12">
        <div class="join ">
            <button class="join-item btn btn-sm">1</button>
            <button class="join-item btn btn-sm btn-active">2</button>
            <button class="join-item btn btn-sm">3</button>
            <button class="join-item btn btn-sm">4</button>
        </div>
    </div>
    <script>
        const textContainer = document.getElementById('text-container');
        const toggleBtn = document.getElementById('toggle-btn');
        const textContent = document.getElementById('text-content');

        const maxLength = 60; // 표시하고 싶은 최대 글자 수

        window.onload = function() {
            if (textContent.textContent.length > maxLength) {
                const shortText = textContent.textContent.slice(0, maxLength) + '...';
                const longText = textContent.textContent;
                textContent.textContent = shortText;
            }
        };
        toggleBtn.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = event.target.href; // 링크로 바로 이동
        });
    </script>
</div>

</body>
</html>