<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|#${tagContent}|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="w-full -mt-4">
        <h1 class="mb-4 block md:hidden">
            <span th:text="|게시판|"></span>
        </h1>

        <!-- 상단 이미지 -->
        <img class="w-full xl:w-3/4 mx-auto object-contain hidden md:flex" src="" alt="">
        <img class="w-150 mx-auto object-contain flex md:hidden" src="" alt="">

        <!-- 주요 콘텐츠 영역 -->
        <div class="main w-full lg:w-2/3 flex mx-auto bg-gray-100 sm:bg-white mb-4">

            <!-- 검색 옵션 -->
            <div class="flex w-full sm:w-2/3 sm:py-12 py-2">
                <form action="#" class="flex">
                    <select name="kwType" class="ml-12 rounded-xl p-2 bg-gray-100 hover:bg-gray-200" th:value="${param.kwType}">
                        <option value="all">전체</option>
                        <option value="subject">제목</option>
                        <option value="body">내용</option>
                        <option value="nickname">별명</option>
                    </select>
                    <i class="fa-solid fa-magnifying-glass ml-4 mt-2 mr-2"></i>
                    <div class="search whitespace-nowrap">
                        <input placeholder="검색어" class="border-b-2 border-gray-400 bg-gray-100 sm:bg-white w-3/5 lg:w-3/4" name="kw" type="search" th:value="${param.kw}">
                        <button class="btn btn-sm">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span>검색</span>
                        </button>
                    </div>
                </form>
            </div>

            <!-- 글쓰기 버튼 -->
            <div class="write-btn my-auto ml-14 w-1/4 justify-end hidden sm:flex lg:-mr-1 mr-3">
<!--                <a th:if="${@articleService.checkActorCanWrite(@rq.member, board).success}"-->
<!--                   class="btn btn-sm" th:href="|/usr/article/${board.code}/write|">-->
<!--                    <i class="fa-solid fa-pen"></i>-->
<!--                    글쓰기-->
<!--                </a>-->

                <!--<button class="btn btn-sm btn-primary"> &lt;!&ndash;onclick="searchFormModal.showModal()"&ndash;&gt;
                    <i class="fa-solid fa-magnifying-glass"></i>
                    검색어
                    <span th:if="${UtThy.hasText(param.kw)}">`<span class="normal-case" th:text="${param.kw}"></span>`</span>
                </button>
                <a th:if="${UtThy.hasText(param.kw)}" th:href="${@rq.currentUrlPath}" class="btn btn-sm btn-outline">
                    <i class="fa-solid fa-xmark"></i>
                    검색조건 지우기
                </a>-->
            </div>
        </div>

        <!-- 게시글 목록 -->
        <ul>
            <li th:each="article : ${articlePage.content}">
                <div th:replace="common/fragments :: articleListItemCard(${article})"></div>
                <br>
            </li>
        </ul>

        <!-- 페이지 네이션 (하단) -->
        <div class="mt-4" th:if="${articlePage.totalPages > 1}"
             th:with="queryStrBase = '?kwType=' + ${param.kwType != null ? param.kwType : ''} + '&kw=' + ${param.kw != null ? param.kw : ''} + '&'">
            <div th:replace="common/fragments :: pagination(${articlePage}, ${queryStrBase}, 1)"></div>
        </div>
    </div>
</div>

</body>
</html>
