<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|게시물 태그 `${tagContent}`|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="w-full -mt-4">
        <h1 class="main w-full lg:w-2/3 flex mx-auto bg-gray-100 sm:bg-white mt-4 mb-4">
            <i class="fa-solid fa-hashtag"></i>
            <span th:text="|게시물 태그 `${tagContent}`|"></span>
        </h1>

        <ul>
            <li th:each="article : ${articlePage.content}">
                <div th:replace="common/fragments :: articleListItemCard(${article})"></div>
                <br>
            </li>
        </ul>

        <div class="mt-4" th:if="${articlePage.totalPages > 1}"
             th:with="queryStrBase = ${tagContent} + '?'">
            <div th:replace="common/fragments :: pagination(${articlePage}, ${queryStrBase}, 1)"></div>
        </div>
    </div>
</div>

</body>

</html>