<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|강의 목록|"></title>
</head>

<body>

<div class="flex-1 mt-2 flex justify-center" layout:fragment="content">
    <div class="w-full lg:w-3/4 ">

        <!--강좌 리스트-->
        <div class="flex">
            <div class=" text-xl w-full my-auto" th:text="|`${tagContent}` 태그 강의|"></div>
            <div class="flex w-full sm:w-2/3 py-2 justify-end">

                <i class="fa-solid fa-magnifying-glass mt-2 mr-2"></i>
                <form class="flex" onsubmit="submitSearchForm(this); return false;">
                    <div class="search whitespace-nowrap">
                        <input type="hidden" name="kwType" value="all">
                        <input class="border-b-2 border-gray-400 bg-gray-100 sm:bg-white w-3/5 lg:w-3/4"
                               th:value="${param.kw}" name="kw" type="search" placeholder="전체 강의 검색">
                        <button class="btn btn-sm">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mx-auto px-[10px]">
            <ul class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-4 gap-[20px]">
                <li class="group" th:each="lecture : ${lecturePage.content}">
                    <a th:href="|/usr/lecture/detail/${lecture.id}|">
                        <img class="aspect-[376/221] object-cover w-full" th:src="${@lectureService.getThumbnailImgUrl(lecture.subject)}">
                    </a>

                    <a th:href="|/usr/lecture/detail/${lecture.id}|" class="flex flex-col gap-1 mt-3">
                        <div class="text-xs font-bold" th:text="${lecture.producer.producerName}">
                        </div>
                        <div class="text-gray-500" th:text="${lecture.subject}">
                        </div>
                        <div class="flex"
                             th:utext="${lecture.getTagLinks('<a class=`my-3 px-2 p-1 mr-2 sm:text-sm text-xs whitespace-nowrap rounded-lg inline-block` href=`%s`>#%s</a>', '/usr/lecture/listByTag/%s')}">
                        </div>
                        <div class="flex flex-row justify-between gap-2 text-ml">
                            <div class="font-semibold" th:unless="${lecture.product.free}"
                                 th:text="${#numbers.formatDecimal(lecture.product.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></div>
                            <div class="font-semibold" th:if="${lecture.product.free}">무료강의</div>
                            <a class="mr-4 p-2 bg-blue-100 px-3 hover:bg-blue-200 rounded-full hidden sm:inline"
                               th:unless="${@rq.isMemberEnrolledInLecture(lecture.id)} or ${@lectureService.checkProducerCanModify(@rq.member, lecture).success}"
                               th:attr="href=${@productService.isLectureFree(lecture.id)} ? '/usr/member/enroll/' + ${lecture.id} : '/usr/cart/write/lecture/' + ${lecture.id}">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                        <div class="block sm:hidden"
                             th:unless="${@rq.isMemberEnrolledInLecture(lecture.id)} or ${@lectureService.checkProducerCanModify(@rq.member, lecture).success}">
                            <a class="btn btn-sm w-full"
                               th:attr="href=${@productService.isLectureFree(lecture.id)} ? '/usr/member/enroll/' + ${lecture.id} : '/usr/cart/write/lecture/' + ${lecture.id}">장바구니 담기</a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mt-4"
             th:if="${lecturePage.totalPages > 1}"
             th:with="queryStrBase = '?kwType=' + ${param.kwType != null ? param.kwType : ''} + '&kw=' + ${param.kw != null ? param.kw : ''} + '&'">
            <div th:replace="common/fragments :: pagination(${lecturePage}, ${queryStrBase}, 1)"></div>
        </div>
    </div>

</div>

</body>
</html>