<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|글 - ${question.subject}|"></title> <!-- 타이틀 설정 -->
</head>

<body>

<div class="wrap -mt-4" layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>
    <div class="banner">
        <img class="w-full xl:w-3/4 mx-auto object-contain hidden md:flex" src="" alt="">
        <img class="w-150 mx-auto object-contain flex md:hidden" src="" alt="">
    </div>

    <div class="w-full sm:w-3/4 mx-auto mt-1 sm:mt-12">
        <div style='box-shadow:2px 3px 5px 0px #d9d9d9' class="main h-full border-gray-200 border-2 rounded-xl">
            <div class="w-4/5 mx-auto">
                <!-- 질문 상단 섹션 -->
                <div class="top-box mt-8">
                    <div class="mt-4">
                        <a th:text="${question.subject}" class="text-md sm:text-xl font-semibold"></a>
                    </div>
                    <div class="mt-2 w-full sm:w-2/5">
                        <span th:text="'조회수 ' + ${question.viewCount}" class="text-sm font-semibold text-gray-400"></span>
                        <span th:text="${question.member.nickname}" class="text-sm ml-4 whitespace-nowrap"></span>
                        <span th:text="${question.formattedDate}" class="text-sm text-gray-500 px-2 inline-block whitespace-nowrap"></span>
                    </div>
                </div>

                <!-- 질문 내용 섹션 -->
                <div class="bottom-box w-full mt-4 mb-8 h-full border-b border-t border-gray-200">
                    <div class="mt-8">
                        <a class="toastui-editor-contents"
                           style="overflow-wrap: break-word;"
                           th:utext="${question.bodyHtmlForPrint}">
                        </a>
                    </div>

                    <div class="modify-box flex justify-end mr-1 sm:mr-12 mb-2 relative">
                        <a th:if="${@questionService.checkActorCanModify(@rq.member, question).success}"
                           class="mr-2 text-xs sm:text-sm" th:href="|/usr/qna/q/modify/${question.id}|">수정</a>
                        <a th:if="${@questionService.checkActorCanModify(@rq.member, question).success}"
                           onclick="return confirm('정말로 삭제하시겠습니까?');"
                           class="mr-2 text-xs sm:text-sm" th:href="|/usr/qna/q/delete/${question.id}|">삭제</a>
                        <a class="mr-2 text-xs sm:text-sm" th:href="|/usr/qna/q/list|">목록</a>
                    </div>
                </div>

                <!-- 댓글 섹션 -->
                <div class="comment-box">
                    <span class="text-md sm:text-lg font-semibold">답변</span>
                    <span th:text="|${#lists.size(question.answerList)}|" class="text-md sm:text-lg font-semibold text-blue-600"></span>
                    <span class="text-md sm:text-lg font-semibold">개</span>

                    <!-- 댓글 목록 -->
                    <div class="comment text-sm flex flex-col border-t border-gray-200 p-2 mt-4 mb-4">
                        <div th:each="answer : ${question.answerList}" class="border-b border-gray-200">
                            <div class="flex flex-col sm:flex-row justify-between items-start">
                                <div class="flex-grow">
                                    <div class="flex flex-col sm:flex-row items-center">
                                        <span>
                                            <p th:text="${answer.member.nickname}"></p>
                                            <p th:text="${answer.formattedDate}" class="text-gray-500 text-center hidden sm:inline"></p>
                                        </span>
                                        <span th:utext="${answer.bodyHtmlForPrint}" class="ml-4 mt-2 sm:inline toastui-editor-contents"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <!--<div th:if="${@rq.login}">
                        <div th:if="${@questionService.checkActorCanModify(@rq.member, question).success or @rq.isProducer()}">
                            <form th:action="@{|/usr/qna/a/create/${question.id}|}" method="post">
                                <textarea name="content" placeholder="답변을 입력해주세요." cols="50" class="placeholder:text-sm textarea textarea-bordered textarea-lg w-full"></textarea>
                                <div class="w-full flex justify-end py-2">
                                    <button type="submit" class="btn btn-sm">답변 등록</button>
                                </div>
                            </form>
                        </div>
                    </div>-->
                    <div th:if="${@rq.login}">
                        <div th:if="${@questionService.checkActorCanModify(@rq.member, question).success or @rq.isProducer()}" class="comment text-sm flex p-2 mt-4 mb-4 mx-auto flex flex-col gap-6">
                            <form th:action="@{|/usr/qna/a/create/${question.id}|}" method="post" onsubmit="submitAnswerForm(this); return false;">
                                <input type="hidden" name="content">
                                <input type="hidden" name="contentHtml">

                                <div class="form-control">
                                    <div class="toast-ui-editor" height="calc(100vh - 200px)" placeholder="내용"></div>
                                </div>
                                <div class="w-full flex justify-end py-2">
                                    <button type="submit" class="btn btn-sm">
                                        <span th:if="${@rq.isProducer()}">답글 등록</span>
                                        <span th:unless="${@rq.isProducer()}">댓글 등록</span>
                                    </button>
                                </div>
                            </form>
                            <script>
                                function submitAnswerForm(form) {
                                    const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");

                                    const markdown = editor.getMarkdown().trim();
                                    const html = editor.getHTML().trim();

                                    form.content.value = markdown;
                                    form.contentHtml.value = html;

                                    if (form.content.value.length == 0 || form.contentHtml.value.length == 0) {
                                        toastWarning("내용을 입력해주세요");
                                        editor.focus();
                                        return;
                                    }

                                    form.submit();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>