<html layout:decorate="~{common/layout}">

<head>
    <title th:text="|글 - ${question.subject}|"></title> <!-- 타이틀 설정 -->
</head>

<body>

<div layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>
    <div class="w-5/6 border-b border-gray-400 mx-auto relative">
        <div class="cate ">
            <a th:href="@{/usr/qna/q/videoInList/{lessonId}(lessonId=${lessonId})}" class="back-btn ml-2 mt-3 px-2 p-2 sm:text-sm text-xs whitespace-nowrap inline-block">뒤로가기</a>
        </div>
        <div class="mt-4">
            <a th:text="${question.subject}" class="text-md sm:text-xl font-semibold whitespace-nowrap ml-4"></a>
        </div>
        <div class="mt-2 w-full flex ml-5">
            <span th:text="'조회수 ' + ${question.viewCount}" class="text-sm font-semibold text-gray-400"></span>
            <span th:text="${question.member.nickname}" class="text-sm ml-4 whitespace-nowrap"></span>
            <span th:text="${question.formattedDate}" class="text-sm text-gray-500 px-2 inline-block whitespace-nowrap"></span>
        </div>
        <div class=" mt-14 ml-6 mb-8">
            <span th:utext="${question.bodyHtmlForPrint}" class="toastui-editor-bodys text-sm whitespace-nowrap"></span>
        </div>

        <!--<div style="text-align: right;">
            <a th:if="${@questionService.checkActorCanModify(@rq.member, question).success}"
               class="text-sm text-gray-500 ml-2 p-2" th:href="@{/usr/qna/q/videoInModify/{id}(id=${question.id}, lessonId=${lessonId})}">수정</a>
            <a th:if="${@questionService.checkActorCanModify(@rq.member, question).success}"
               onclick="return confirm('정말로 삭제하시겠습니까?');"
               class="text-sm text-gray-500 ml-2 p-2" th:href="@{/usr/qna/q/videoInDelete/{id}(id=${question.id}, lessonId=${lessonId})}">삭제</a>
        </div>-->
    </div>

    <div th:each="answer : ${question.answerList}" class="comment text-sm flex p-2 mt-4 mb-4 w-3/4 mx-auto">
        <span>
            <p th:text="${answer.member.nickname}"></p>
            <p th:text="${answer.formattedDate}" class="text-gray-500 text-center sm:inline" style="text-align:left"></p>
        </span>
        <span th:utext="${answer.bodyHtmlForPrint}" class="ml-4 mt-2 sm:inline"></span>
    </div>

    <div th:if="${@rq.login}">
        <div th:if="${@questionService.checkActorCanModify(@rq.member, question).success or @rq.isProducer()}" class="comment text-sm flex p-2 mt-4 mb-4 mx-auto flex flex-col gap-6">
            <form th:action="@{|/usr/qna/a/videoInCreateAnswer/${question.id}|}" method="post" onsubmit="submitAnswerForm(this); return false;">
                <input type="hidden" name="content">
                <input type="hidden" name="contentHtml">
                <input type="hidden" name="lessonId" th:value="${lessonId != null ? lessonId : 0}" />

                <div class="form-control">
                    <div class="toast-ui-editor" height="calc(100vh - 200px)" placeholder="내용"></div>
                </div>
                <div class="w-full flex justify-end py-2">
                    <button type="submit" class="btn btn-sm">
                        <span th:if="${@rq.isProducer()}">답글 등록</span>
                        <span th:unless="${@rq.isProducer()}">댓글 등록</span>
                    </button>
                </div>
            </form>
            <script>
                function submitAnswerForm(form) {
                    const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");

                    const markdown = editor.getMarkdown().trim();
                    const html = editor.getHTML().trim();

                    form.content.value = markdown;
                    form.contentHtml.value = html;

                    if (form.content.value.length == 0 || form.contentHtml.value.length == 0) {
                        toastWarning("내용을 입력해주세요");
                        editor.focus();
                        return;
                    }

                    form.submit();
                }
            </script>
        </div>
    </div>
</div>

</body>
</html>