<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|강의 생성|"></title>
</head>

<body>

<div class="w-full lg:w-[30%] mt-12 mx-auto border border-gray-300 rounded-md p-6 shadow-lg" layout:fragment="content">
    <h1 class="mb-4 mt-6">
        <span class="text-xl font-bold" th:text="|내 강의 만들기|"></span>
    </h1>
    <form th:action method="POST" onsubmit="submitWriteForm(this); return false;">
        <div class="flex flex-col">
            <span class="text-md font-bold ml-3">강의 정보</span>
            <span class="text-lg ml-3" th:text="${lecture.subject}">영규의 점프 투 스프링부트</span>
            <span class="text-md ml-3">수강기간: 무제한</span>
            <span class="text-md mt-4 text-red-500">- 무료공개를 원하시면 체크박스 체크와 가격을 0원으로 작성해주세요.</span>
            <div class="flex mt-3">
                <span class="ml-4">무료공개 여부</span>
                <input type="checkbox" name="free" value="true" class="checkbox checkbox-sm ml-2" />
            </div>
            <div class="p-2 ml-2">
                <span class="mr-2">가격 설정</span><i class="fa-solid fa-won-sign"></i>
                <input type="number" placeholder="가격을 설정해주세요." maxlength="30" name="price"
                       class="ml-3 mt-3 p-2 border-b-2 border-gray-400 w-full lg:w-3/5 max-w-xs focus:border-blue-800 focus:outline-none">
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <button class="inline-block w-full lg:w-2/5 mx-auto text-center border border-blue-800 bg-blue-800 p-2 mb-3 mt-2 lg:mt-6 rounded-md hover:bg-blue-900 text-white">
                강의 등록
            </button>
        </div>
    </form>

    <script>
        let submitWriteFormDone = false;

        function submitWriteForm(form) {
            if (submitWriteFormDone) {
                return;
            }

            form.price.value = form.price.value.trim();

            if (form.price.value.length == 0) {
                toastWarning("가격을 입력해주세요.");
                form.price.focus();

                return;
            }

            if (!validatePriceBasedOnCheckbox()) {
                return;
            }

            form.submit();
            submitWriteFormDone = true;
        }

        function validatePriceBasedOnCheckbox() {
            const checkbox = document.querySelector('input[name="free"]');
            const priceInput = document.querySelector('input[name="price"]');

            if (checkbox.checked) {
                if (priceInput.value !== '0') {
                    toastWarning("무료공개를 원하시면 가격을 0원으로 설정해주세요.");
                    priceInput.focus();
                    return false;
                }
            } else {
                if (priceInput.value === '0') {
                    toastWarning("무료공개를 원하지 않으시면 가격을 0원 이상으로 설정해주세요.");
                    priceInput.focus();
                    return false;
                }
            }

            return true;
        }

    </script>
</div>

</body>
</html>