<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|관리자 - 회원목록|"></title>
</head>

<body>

<div class="w-full lg:w-3/4 mx-auto" layout:fragment="content">
    <div class="overflow-x-auto flex flex-col">
        <p class="text-xl font-bold mt-4 p-4 w-[80%] mx-auto"><i class="fa-solid fa-user-group mr-3"></i>회원 목록</p>
        <div class="flex justify-end mr-[10%] mb-4 ml-8">
            <form onsubmit="submitSearchForm(this); return false;" class="flex">
                <select name="choice" class="rounded-xl p-2 bg-gray-100 hover:bg-gray-200">
                    <option value="all">전체</option>
                    <option value="username">아이디</option>
                    <option value="email">이메일</option>
                    <option value="nickname">별명</option>
                </select>
                <i class="fa-solid fa-magnifying-glass ml-4 mt-2 mr-2"></i>
                <div class="flex">
                    <div class="search whitespace-nowrap">
                        <input class="border-b-2 border-gray-400 bg-gray-100 sm:bg-white w-3/5 lg:w-3/4 px-2"
                               type="search" name="kw" th:value="${param.kw}">
                        <button class="btn btn-sm">검색</button>
                    </div>
                    <a th:if="${UtThy.hasText(param.kw)}" th:href="${@rq.currentUrlPath}"
                       class="lg-show btn btn-sm btn-outline" >
                        전체보기
                    </a>
                    <style>
                        .lg-show {
                          display: none;
                        }

                        @media (min-width: 750px) {
                          .lg-show {
                            display: inline-flex;
                          }
                        }
                    </style>
                </div>
            </form>
        </div>
        <table cellpadding="15" cellspacing="15" width="80%" class="mx-auto">
            <thread>
                <tr class="border-b-2 border-t-2 border-gray-200 whitespace-nowrap text-sm lg:text-md">
                    <th class="p-3 px-4  hidden lg:block lg:mt-1 ">회원번호</th>
                    <th>가입일</th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                </tr>
            </thread>

            <tbody>
            <tr class="text-center whitespace-nowrap border-b border-gray-200 text-sm lg:text-md"
                th:each="member : ${memberPage.content}">
                <td class="hidden lg:block mt-1" th:text="${member.id}">1</td>
                <td th:text="${#temporals.format(member.createDate, 'yy.MM.dd')}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.emailForPrint}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>