<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="시리즈"></title>
</head>

<body>

<div class="w-full lg:w-3/4 mx-auto" layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>

    <div class="flex mt-10">
        <span class="inline-block title ml-4 lg:ml-0 text-xl lg:text-2xl font-bold">시리즈</span>
        <span class="ml-3 mt-1 text-md lg:text-lg text-gray-500">Series</span>
    </div>
    <div class="flex flex-row justify-between items-center">
        <span style="background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #D9D9D9 40%);" class="inline-block mt-2 ml-4 lg:ml-2"
              th:text="|${author.nickname}님의 `${tagContent}` 시리즈|"></span>
        <a href="/usr/series/list" class="btn btn-sm mr-4">목록</a>
    </div>
    <div th:each="post : ${postPage.content}">
        <div class="main-box w-full mt-4 lg:mt-12 ">
            <div class="article w-full h-60 flex border-b border-t border-gray-300">
                <img class="ficture-box hidden lg:block w-60 h-[88%] mt-3 bg-yellow-200" src="/resource/common/postImg.png">
                <div class="left-box ml-2 lg:ml-4 w-2/3 md:mt-4 lg:mt-0 lg:w-1/2 2xl:w-2/3">
                    <h1 class="p-3 font-bold text-lg hover:underline">
                        <a th:href="|/usr/post/detail/${post.id}?listUrl=${@rq.encodedCurrentUrl}|" th:text="${post.subject}"></a>
                    </h1>
                    <div class="text-container hidden 2xl:block ml-3 overflow-hidden h-28">
                        <p class="toastui-editor-contents" th:utext="${post.bodyHtmlForPrint}"></p>
                    </div>
                    <a class="flex items-end invisible hidden 2xl:block ml-3 mt-2" th:href="|/usr/post/detail/${post.id}?listUrl=${@rq.encodedCurrentUrl}|">더보기</a>
                    <!--모바일 버전 글 내용 입니다.-->
                    <div class="text-container 2xl:hidden ml-3 overflow-hidden h-28">
                        <p class="toastui-editor-contents" th:utext="${post.bodyHtmlForPrint}"></p>
                    </div>
                    <a class="flex items-end invisible 2xl:hidden ml-3 mt-2" th:href="|/usr/post/detail/${post.id}?listUrl=${@rq.encodedCurrentUrl}|">더보기</a>
                    <div th:utext="${post.getTagLinks('<a class=`hashtag inline-block mt-2 ml-3 lg:ml-2` href=`%s`>#%s</a>', @rq.getSuitableListByTagPageBaseUrlByCurrentUrl('post') + '/%s')}"></div>
                </div>
                <div class="right-box flex items-center flex-col my-auto ml-auto mr-2">
                    <span class="text-md" th:text="${post.author.nickname}"></span>
                    <span class="text-sm text-gray-500 " th:text="${#temporals.format(post.createDate, 'yy / MM / dd')}"></span>
                </div>
            </div>

            <script>
                function checkOverflow() {
                    var containers = document.querySelectorAll('.text-container');

                    containers.forEach(function(container) {
                        var childrenHeight = 0;
                        container.childNodes.forEach(function(child) {
                            if (child.offsetHeight) {
                                childrenHeight += child.offsetHeight;
                            }
                        });

                        if (childrenHeight > container.offsetHeight) {
                            var moreLink = container.nextElementSibling;
                            while (moreLink && moreLink.tagName !== 'A') {
                                moreLink = moreLink.nextElementSibling;
                            }
                            if (moreLink) {
                                moreLink.classList.remove('invisible');
                            }
                        }
                    });
                }

                window.onload = checkOverflow;
                window.onresize = checkOverflow;
            </script>
        </div>
    </div>
    <div class="mt-4" th:if="${postPage.totalPages > 1}"
         th:with="queryStrBase = '?kwType=' + ${param.kwType != null ? param.kwType : ''} + '&kw=' + ${param.kw != null ? param.kw : ''} + '&'">
        <div th:replace="common/fragments :: pagination(${seriesPage}, ${queryStrBase}, 1)"></div>
    </div>

    <style>
        .hashtag:nth-child(3n+1) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #FFD0AE 40%);
        }

        .hashtag:nth-child(3n+2) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #D9D9D9 40%);
        }

        .hashtag:nth-child(3n+3) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #BEEFFE 40%);
        }
    </style>

</div>

</body>
</html>