<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="시리즈"></title>
</head>

<body>

<div class="w-full lg:w-3/4 mx-auto" layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>

    <form onsubmit="submitSearchForm(this); return false;">
        <div class="searching-box mt-4 lg:mt-8 border w-3/4 lg:w-1/2 h-10 lg:h-14 rounded-md border-gray-700 flex mx-auto">
            <select name="kwType" class="ml-3 p-1 lg:p-2 outline-none mt-1" th:value="${param.kwType}">
                <option value="all">전체</option>
                <option value="subject">제목</option>
                <option value="body">내용</option>
            </select>
            <div class="search whitespace-nowrap w-2/4">
                <input class="outline-none border-gray-400 sm:bg-white ml-3 mt-2 lg:mt-4 w-full" name="kw"
                       type="search" th:value="${param.kw}" placeholder="검색어">
            </div>
            <button class="fa-solid fa-magnifying-glass my-auto ml-auto mr-5"></button>
        </div>
    </form>
    <div class="flex mt-10">
        <span class="inline-block title ml-4 lg:ml-0 text-xl lg:text-2xl font-bold">시리즈</span>
        <span class="ml-3 mt-1 text-md lg:text-lg text-gray-500">Series</span>
    </div>
    <div th:each="series : ${seriesPage.content}">
        <div class="main-box w-full mt-4 lg:mt-12 ">
            <div class="article w-full h-44 flex border-b border-t border-gray-300">
                <div class="ficture-box hidden lg:block w-56 h-[88%] mt-2 bg-yellow-200"></div>
                <div class="left-box ml-2 lg:ml-4 w-2/3 md:mt-4 lg:mt-0 lg:w-1/2 2xl:w-2/3">
                    <h1 class="p-3 font-bold text-lg hover:underline">
                        <a th:href="|/usr/post/listByKeyword/${series.postKeyword.id}|" th:text="${series.subject}"></a>
                    </h1>
                    <div th:utext="${series.getTagLinks('<a class=`hashtag inline-block mt-2 ml-3 lg:ml-2` href=`%s`>#%s</a>', @rq.getSuitableListByTagPageBaseUrlByCurrentUrl('series') + '/%s')}"></div>
                </div>
                <div class="right-box flex items-center flex-col my-auto ml-auto mr-2">
                    <span class="text-md" th:text="${series.author.nickname}"></span>
                    <span class="text-sm text-gray-500 " th:text="${#temporals.format(series.createDate, 'yy / MM / dd')}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4" th:if="${seriesPage.totalPages > 1}"
         th:with="queryStrBase = '?kwType=' + ${param.kwType != null ? param.kwType : ''} + '&kw=' + ${param.kw != null ? param.kw : ''} + '&'">
        <div th:replace="common/fragments :: pagination(${seriesPage}, ${queryStrBase}, 1)"></div>
    </div>
    <style>
        .hashtag:nth-child(3n+1) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #FFD0AE 40%);
        }

        .hashtag:nth-child(3n+2) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #D9D9D9 40%);
        }

        .hashtag:nth-child(3n+3) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #BEEFFE 40%);
        }
    </style>
</div>

</body>
</html>