<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|수강 바구니|"></title>
</head>

<body>

<div class="w-full 2lg:w-3/4 mx-auto" layout:fragment="content">
    <script src="https://js.tosspayments.com/v1"></script>
    <div class="w-full lg:w-3/4 2xl:w-4/5  mx-auto border-b-2 border-blue-800 p-3">
        <div class="w-full 2xl:w-3/4 mx-auto">
            <span class="inline-block text-2xl font-bold mt-6">수강 바구니</span>
        </div>
        <div class="check-box flex w-full 2xl:w-3/4 mx-auto relative">
            <input type="checkbox" class="cartItemCheckboxAll checkbox checkbox-xs mt-7 2xl:hidden inline" />
            <input type="checkbox" class="cartItemCheckboxAll checkbox checkbox-sm mt-6 2xl:inline hidden" />
            <span class=" text-sm mt-3 p-3 ">전체 선택</span>
            <div class="w-2/3 ml-auto flex justify-end">
                <a class="btn btn-sm btn-ghost mt-2" href="javascript:;" onclick="RemoveCartItemsForm__submit();">선택 삭제</a>
                <form method="POST" name="removeCartItemsForm" th:action="@{|/usr/cart/remove|}" >
                    <input type="hidden" name="ids">
                </form>
                <a href="javascript:;" class="btn btn-sm ml-2 mt-2" onclick="RemoveAllCartItemsForm__submit();">전체 삭제</a>
                <form method="POST" name="removeAllCartItemsForm" th:action="@{|/usr/cart/removeAll|}" ></form>
            </div>
        </div>
        <div class="basket-list w-full 2xl:w-3/4 mx-auto border-t border-gray-300 flex" th:each="item : ${items}">
            <div class="check flex items-center">
                <input onchange="CartItemCheckbox__changed();" type="checkbox" class="cartItemCheckbox checkbox checkbox-sm" th:value="${item.id}"/>
            </div>
            <div class="picture-box w-48 h-28 ml-3 mt-2 bg-gray-200 hidden lg:flex"></div>
            <div class="list-box h-32 w-[90%] ml-6">
                <span class="inline-block text-md lg:text-lg font-bold hover:underline p-3 mt-2 lg:mt-0" th:text="${item.product.lecture.subject}"></span>
                <h1 class="text-sm px-3" th:text="${item.product.lecture.producer.producerName}"></h1>
                <h2 class="text-md text-gray-500 px-3">수강기간: 무제한</h2>
            </div>
            <div class="price-box w-60 h-32 flex items-center justify-center">
                <span class="price font-bold mr-4" th:data-inline="${item.product.price}"
                      th:text="${#numbers.formatInteger(item.product.price, 0, 'COMMA')} + ' 원'"></span>
                <a class="btn btn-circle btn-ghost" href="javascript:;" onclick="RemoveCartItemForm__submit();">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
                <form method="POST" name="removeCartItemForm" th:action="@{|/usr/cart/remove|}" hidden>
                    <input type="hidden" name="ids" th:value="${item.id}">
                </form>
            </div>
        </div>

    </div>
    <div class="w-3/4 mx-auto flex justify-end">
        <i class="fa-regular fa-credit-card mt-5"></i>
        <span class="text-xl p-4">총 결제금액</span>
        <span id="result" class="text-xl ml-3 p-4 font-bold "></span>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                var prices = document.querySelectorAll('.price');
                var sum = 0;

                prices.forEach(function(price) {
                    var priceValue = price.getAttribute('data-inline');
                    if (priceValue) {
                        sum += parseInt(priceValue, 10);
                    }
                });

                var formattedSum = sum.toLocaleString('ko-KR');
                document.getElementById('result').textContent = formattedSum + ' 원';
                document.getElementById('result2').textContent = formattedSum + ' 원';
            });
        </script>
    </div>
    <div class="w-4/5 mt-6 mx-auto flex justify-center">
        <button onclick="my_modal_3.showModal(); makeOrder();" class="w-[33%] text-center border border-blue-800 bg-blue-800 p-2 lg:ml-4 rounded-md hover:bg-blue-900 text-white">결제하기</button>
    </div>
    <dialog id="my_modal_3" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <div class=" w-3/4 mx-auto mt-3">
                <div class="flex">
                    <i class="fa-solid fa-check p-2"></i></i><h3 class="font-bold text-xl">주문 상세 내용</h3>
                </div>
                <div class="flex p-2 mt-4">
                    <p class="text-md font-bold">주문날짜 : </p>
                    <p id="currentDateTime" class="text-sm ml-2">2023/11/21</p>
                </div>
                <div class="flex p-2">
                    <p class="text-md font-bold">주문자명 :</p>
                    <p class="text-sm ml-2" th:text="${@rq.member.username}"></p>
                </div>
                <div class="p-2 mt-4 bg-gray-100">
                    <div th:each="item : ${items}">
                        <p class="text-md font-bold" th:text="${item.product.lecture.subject}">자바 기초 1</p>
                        <p class="text-sm" th:text="${item.product.lecture.producer.producerName}">강사명</p>
                    </div>
                </div>
                <p class="text-lg font-bold p-2 text-blue-800 mt-3">총 결제가격 : <span id="result2"></span></p>
                <button onclick="closeDialog(); payment();" class="w-full text-center border border-blue-800 bg-blue-800 p-2 mb-3  mt-6 rounded-md hover:bg-blue-900 text-white">카드결제</button>
            </div>
        </div>
    </dialog>
    <script>
        const currentDate = new Date().toLocaleDateString('ko-KR', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
        }).replace(/\./g, '/').trim();

        document.getElementById('currentDate').textContent = currentDate;
    </script>


    <script>
        // 전체선택 체크박스
        const $cartItemCheckboxAll = $('.cartItemCheckboxAll');
        // 아이템 체크박스
        const $cartItemCheckbox = $('.cartItemCheckbox');

        $cartItemCheckboxAll.change(function () {
            const allChecked = $(this).prop('checked');
            $cartItemCheckbox.prop('checked', allChecked); // 아이템 체크박스들에게 체크상태 동기화
        });

        function CartItemCheckbox__changed() {
            const allChecked = $cartItemCheckbox.length == $('.cartItemCheckbox:checked').length;

            $cartItemCheckboxAll.prop('checked', allChecked);
        }

        let RemoveCartItemsForm__submitDone = false;

        function RemoveCartItemsForm__submit() {
            if (RemoveCartItemsForm__submitDone) return;

            const form = document.removeCartItemsForm;

            const $checked = $('.cartItemCheckbox:checked');

            if ($checked.length == 0) {
                toastWarning('삭제할 장바구니 품목을 선택해주세요.');
                return;
            }

            const ids = $checked.map((index, el) => $(el).val()).get();
            form.ids.value = ids;
            form.submit();
            RemoveCartItemsForm__submitDone = true;
        }

        function OrderCartItemsForm__submit() {
            document.orderCartItemsForm.submit();
        }

        function RemoveAllCartItemsForm__submit() {
            document.removeAllCartItemsForm.submit();
        }

        function RemoveCartItemForm__submit() {
            document.removeCartItemForm.submit();
        }
    </script>

    <script>
        let orderId, buyerName, orderName, orderPayPrice;
        const tossPayments = TossPayments("클라이언트 키");

        function makeOrder() {

            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");

            fetch('/usr/order/makeOrder', {
                method: 'POST',
                headers: {
                    [csrfHeader]: csrfToken,
                    'Content-Type': 'application/json' // JSON 형식의 데이터를 보낼 경우 필요
                },
            })
            .then(res => res.json())
            .then((rs) => {
                if (rs.success) {
                    const orderDTO = rs.data;

                    orderId = orderDTO.orderId;
                    buyerName = orderDTO.buyerName;
                    orderName = orderDTO.orderName;
                    orderPayPrice = orderDTO.orderPayPrice;
                }
            });
        }

        function closeDialog() {
            var dialog = document.getElementById('my_modal_3');
            if (dialog) {
                dialog.close();
            }
        }


        function payment() {
            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2),
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin + "/usr/order/" + orderId + "/success",
                failUrl: window.location.origin + "/usr/order/" + orderId + "/fail"
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>
</div>

</body>
</html>