<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|크리에이터|"></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</head>

<body>

<div class="lg:flex w-full lg:w-3/4 mt-2 lg:mt-10 mx-auto" layout:fragment="content">
    <div class="menu-box w-full lg:w-52 flex lg:block">
        <div class="nick-box ml-2 lg:border-b border-gray-300 ">
            <P class="text-lg inline lg:block">크리에이터</P>
            <p class="py-2 inline lg:block" th:text="|${@rq.member.producerName} 님|"></p>
        </div>
    </div>
    <form class="w-full" method="POST" name="be-producer-form"
          onsubmit="submitBeProducerForm(this); return false;"
          th:action>
        <div class="main-box mx-auto w-full mt-6 md:w-1/2 lg:w-2/5">
            <h1 class="text-xl p-2">크리에이터 정보</h1>
            <div class="flex mt-2">
                <p class="text-md ml-2 font-bold p-4">아이디</p>
                <p class="text-sm py-4" th:text="${@rq.member.username}"></p>
            </div>
            <div class="flex mt-1">
                <p class="text-md ml-2 font-bold p-4">닉네임</p>
                <p class="text-sm py-4" th:text="${@rq.member.nickname}"></p>
            </div>
            <div class="flex flex-col mt-2 w-full">
                <div class="flex">
                    <span class="text-md ml-2 font-bold p-4 whitespace-nowrap">활동명 변경</span>
                    <input class="w-full border-gray-200 border rounded-md px-2 outline-none mr-2" th:value="${@rq.member.producerName}"
                           maxlength="30" name="producerName" type="text" placeholder="활동명을 입력해주세요."
                           onchange="$(this).keyup();" onkeyup="checkProducerNameDupDebounce();" onpaste="setTimeoutZero(() => $(this).keyup());">
                </div>
                <div class="ml-[110px] mt-2 text-sm"></div>
            </div>
            <div class="flex mt-2  bg-gray-100">
                <p class="text-md ml-2 font-bold p-4">정산 예정 금액</p>
                <p class="restCash text-md py-4" th:text="${@rq.member.restCash}"></p>
            </div>
            <button class="w-full text-center text-white border border-blue-800 bg-blue-800 p-2 mb-3  mt-6 rounded-md hover:bg-blue-900">
                정보수정 완료
            </button>
        </div>
    </form>
    <script>
        <!--메뉴 접기-->
        function toggleComment(button) {
            const content = button.nextElementSibling;

            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        }
        const nonClick = document.querySelectorAll(".non-click");

        function handleClick(event) {

            nonClick.forEach((e) => {
                e.classList.remove("click");
            });

            event.target.classList.add("click");
        }

        nonClick.forEach((e) => {
            e.addEventListener("click", handleClick);
        });

        <!--메뉴 클릭 시 색상변경-->
        let prevSelected = null;

        function changeColor(element) {
            if (prevSelected !== null) {
                prevSelected.classList.remove('bg-gray-200');
                prevSelected.classList.add('bg-wihte');
            }

            if (prevSelected !== element) {
                element.classList.remove('bg-wihte');
                element.classList.add('bg-gray-200');
                prevSelected = element;
            } else {
                prevSelected = null;
            }
        }

    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var restCashElement = document.querySelector('.restCash');

          if (restCashElement) {
            var restCashValue = parseInt(restCashElement.textContent, 10);

            if (!isNaN(restCashValue)) {
              restCashElement.textContent = restCashValue.toLocaleString('ko-KR') + ' 원';
            }
          }
        });

    </script>

    <script>
        const beProducerForm = document['be-producer-form'];

        // producerName 중복체크 시작
        function checkProducerNameDup(form) {
            form.producerName.value = form.producerName.value.trim();

            if (form.producerName.value.length == 0) {
                clearProducerNameInputMsg();
                return;
            }

            if (form.producerName.value.length < 2) {
                clearProducerNameInputMsg();
                return;
            }

            if (lastCheckedProducerName == form.producerName.value) return;

            lastCheckedProducerName = form.producerName.value;

            clearProducerNameInputMsg();

            fetch(
                'checkProducerNameDup?producerName=' + form.producerName.value
            )
                .then(res => res.json())
                .then((rs) => {
                    if (rs.success) {
                        validProducerName = rs.data;
                    }

                    setProducerNameInputMsg(rs.success, rs.msg);
                });
        }

        const checkProducerNameDupDebounce = _.debounce(() => checkProducerNameDup(beProducerForm), 500);

        function clearProducerNameInputMsg() {
            $(beProducerForm.producerName).removeClass('input-accent input-error');
            $(beProducerForm.producerName).closest('.flex').next().removeClass('text-green-400 text-red-400');
            $(beProducerForm.producerName).closest('.flex').next().empty();
        }

        function setProducerNameInputMsg(isSuccess, msg) {
            if (isSuccess) $(beProducerForm.producerName).addClass('input-accent');
            if (!isSuccess) $(beProducerForm.producerName).addClass('input-error');

            $(beProducerForm.producerName).closest('.flex').next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');

            $(beProducerForm.producerName).closest('.flex').next().text(msg);
        }

        let validProducerName = '';
        let lastCheckedProducerName = '';
        // producerName 중복체크 끝

        let submitBeProducerFormDone = false;

        function submitBeProducerForm(form) {
            if (submitBeProducerFormDone) return;

            form.producerName.value = form.producerName.value.trim();

            if (form.producerName.value.length == 0) {
                form.producerName.focus();
                toastWarning('활동명을 입력해주세요.');
                return;
            }

            if (form.producerName.value.length < 2) {
                form.producerName.focus();
                toastWarning('활동명을 2자 이상 입력해주세요.');
                return;
            }

            if (validProducerName != form.producerName.value) {
                $(form.producerName).next().focus();
                toastWarning('활동명 중복체크를 해주세요.');
                return;
            }

            form.submit();
            submitBeProducerFormDone = true;
        }
    </script>
</div>

</body>
</html>