<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|비밀번호 확인|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <form th:action method="post" onsubmit="submitCheckPasswordForm(this); return false;">
        <div class="p-4 mb-48 max-w-2xl">
            <h1 class="text-xl text-center py-6 sm:text-2xl">비밀번호 확인</h1>
            <div class="pw_box">
                <input class=" mt-2 rounded-lg bg-gray-100 p-2 focus:outline-[#312F95] w-full placeholder:text-sm placeholder:text-[#312F95]"
                       maxlength="30" type="password" name="password" placeholder="비밀번호">
            </div>
            <div class="login_btn">
                <button class="bg-[#312F95] w-full p-2 mt-6 rounded-lg hover:bg-[#112862]">
                    <span class="text-white ">비밀번호 확인</span>
                </button>
            </div>
        </div>
    </form>
    <script>
        let submitCheckPasswordFormDone = false;
        function submitCheckPasswordForm(form) {
            if ( submitCheckPasswordFormDone ) return;

            form.username.value = form.username.value.trim();

            if ( form.username.value.length == 0 ) {
                form.username.focus();
                toastWarning('아이디를 입력해주세요.');
                return;
            }

            if ( form.username.value.length < 4 ) {
                form.username.focus();
                toastWarning('아이디를 4자 이상 입력해주세요.');
                return;
            }

            form.password.value = form.password.value.trim();

            if ( form.password.value.length == 0 ) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if ( form.password.value.length < 4 ) {
                form.password.focus();
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                return;
            }

            form.passwordConfirm.value = form.passwordConfirm.value.trim();

            if ( form.passwordConfirm.value.length == 0 ) {
                form.passwordConfirm.focus();
                toastWarning('비밀번호를 확인을 입력해주세요.');
                return;
            }

            form.submit();
            submitCheckPasswordFormDone = true;
        }
    </script>

</div>

</body>
</html>