<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|회원정보 수정|"></title>
</head>

<body>

<div class="w-full lg:w-3/4 mx-auto flex justify-center" layout:fragment="content">
    <div class="min-h-screen flex flex-col mt-3 lg:mt-12 w-[95%] md:w-[50%] 2xl:w-[30%]">
        <div class="text-center">
            <span class="text-2xl">회원정보수정</span>
        </div>
        <form class="flex flex-col gap-6" enctype="multipart/form-data" method="POST" name="modify-form"
              onsubmit="submitModifyForm(this); return false;"
              th:action >
            <div class=" sm:mt-2">
                <img class="p-4 w-32 h-32 rounded-3xl text-sm sm:hidden mx-auto th:src=" th:src="${@rq.profileImgUrl}">
                <div class="flex justify-center">
                    <img class="w-36 h-36 rounded-3xl mt-2 hidden sm:block" th:src="${@rq.profileImgUrl}">
                </div>
                <label class="label ml-2">
                    <span class="label-text">새 프로필 이미지</span>
                </label>
                <div class="flex justify-center">
                    <input accept="image/jpeg, image/png, image/gif" class="file-input file-input-bordered file-input-sm w-2/3 lg:w-3/5"
                           name="profileImg"
                           type="file">
                </div>
                <div>
                    <div class="border-b-2 border-gray-300 p-2 w-full">

                        <label class="label">
                            <span class="label-text text-sm">아이디</span>
                        </label>
                        <div class="text-sm p-2 w-full" th:text="${@rq.member.username}"></div>
                    </div>
                    <div>
                        <label class="label">
                            <span class="label-text mt-2 w-full mt-3 lg:mt-6 max-w-xs ml-2">닉네임</span>
                        </label>
                        <input class="text-sm p-2 border-b-2 border-gray-300 w-full focus:border-blue-800 focus:outline-none"
                               type="text" maxlength="30" name="nickname" th:value="${@rq.member.nickname}">
                    </div>
                    <div class="pw_box">
                        <label class="label">
                            <span class="label-text mt-2 w-full mt-3 lg:mt-6 max-w-xs ml-2">새 비밀번호</span>
                        </label>
                        <input class=" p-2 border-b-2 border-gray-300 w-full focus:border-blue-800 focus:outline-none"
                               type="password" maxlength="30" name="password">
                    </div>
                    <div class="pwck_box">
                        <label class="label">
                            <span class="label-text mt-2 w-full mt-3 lg:mt-6 max-w-xs ml-2">새 비밀번호 확인</span>
                        </label>
                        <input class="w-full p-2 border-b-2 border-gray-300 focus:border-blue-800 focus:outline-none"
                               type="password" maxlength="30" name="passwordConfirm" >
                    </div>
                    <div class="border-b-2 border-gray-300 p-2 w-full">
                        <label class="label">
                            <span class="label-text text-sm">이메일</span>
                        </label>
                        <div class="text-sm p-2 w-full " th:text="${@rq.member.email}"></div>
                    </div>
                </div>
            </div>
            <div class="x_btn mt-3 mx-auto w-2/3 lg:w-full">
                <button class="bg-[#312F95] w-full p-2 mt-6 rounded-lg hover:bg-[#112862]">
                    <span class="text-white mr-2">수정 완료</span>
                </button>
            </div>
        </form>
        <script>
            const modifyForm = document['modify-form'];

            let submitModifyFormDone = false;
            function submitModifyForm(form) {
                if ( submitModifyFormDone ) return;

                form.password.value = form.password.value.trim();

                if ( form.password.value.length > 0 ) {

                    if ( form.password.value.length < 4 ) {
                        form.password.focus();
                        toastWarning('새 비밀번호를 4자 이상 입력해주세요.');
                        return;
                    }

                    form.passwordConfirm.value = form.passwordConfirm.value.trim();

                    if ( form.passwordConfirm.value.length == 0 ) {
                        form.passwordConfirm.focus();
                        toastWarning('새 비밀번호를 확인을 입력해주세요.');
                        return;
                    }

                    if ( form.password.value != form.passwordConfirm.value ) {
                        form.passwordConfirm.focus();
                        toastWarning('새 비밀번호를 확인이 일치하지 않습니다.');
                        return;
                    }
                }

                form.nickname.value = form.nickname.value.trim();

                if ( form.nickname.value.length == 0 ) {
                    form.nickname.focus();
                    toastWarning('별명을 입력해주세요.');
                    return;
                }

                if ( form.nickname.value.length < 4 ) {
                    form.nickname.focus();
                    toastWarning('별명을 4자 이상 입력해주세요.');
                    return;
                }

                form.submit();
                submitModifyFormDone = true;
            }
        </script>
    </div>
</div>

</body>
</html>