<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|강의 목록|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="container w-full px-4">
        <h1 class="mb-4">
            <span th:text="|강의 목록|"></span>
        </h1>

        <div class="card bg-base-100 shadow-xl" >
            <div class="card-body">

                <div class="detail grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-3" th:each="lecture : ${lectures}">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">게시물번호</span>
                        </label>
                        <div th:text="${lecture.id}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">작성일</span>
                        </label>
                        <div th:text="${#temporals.format(lecture.createDate, 'yy.MM.dd')}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">작성자</span>
                        </label>
                        <div th:text="${lecture.producer.producerName}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">제목</span>
                        </label>
                        <a class="link truncate" th:href="|/usr/lecture/detail/${lecture.id}|"
                           th:text="${lecture.subject}"></a>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">태그</span>
                        </label>
                        <div th:utext="${lecture.getTagLinks('<a class=`link` href=`%s`>#%s</a>', '/usr/lecture/listByTag/%s')}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">진도율</span>
                        </label>
                        <div th:utext="${@lessonService.getSumPlaybackTime(lecture)}"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>